*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background-color: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
  padding: 40px 20px 40px 20px;
}

.main{
  display: flex;
  background-color: #ffffff;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

/* Style for "sidebar" */
.sidebar{
  width: 370px;
  background-color: #1e2939;
  padding-top: 40px;
  padding-bottom: 40px;
}

.photo{
  width: 370px;
}

.contacts-conteiner{
  margin: 60px 40px 0px 40px;
}

.contacts-title{
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin: 0px 0px 20px 0px;
}

.contacts-type{
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin: 0px 10px 0px 0px;
}

.contacts-link-c{
color: #707781;
text-decoration: none;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

.contacts-link-e{
  color: #707781;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.skills-conteiner{
  margin: 55px 40px 0px 40px;
}

.skills-title{
  color: #ffffff;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin: 0px 0px 20px 0px;
}

.skills-item{
  color: #ff6b08;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 0px 0px 0px 15px;
}

.skills-text{
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* Style for "about me page" */
.about-me-conteiner{
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  padding: 110px 90px 110px 90px;
}

.main-info-conteiner{
  margin: 0px 0px 65px 0px;
}

.job-title{
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin: 0px 0px 23px 0px;
}

.name-title{
  color: #000000;
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description{
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin: 24px 0px 0px 0px;
}

.projects{
  margin: 0px 0px 0px 0px;
}

.about-me-title{
  color: #000000;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin: 0px 0px 10px 0px;
}

.projects-list{
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin: 0px 0px 0px 17px;
}

.projects-link{
  color: #707781;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dots{
  color: #cecece;
  font-weight: 100;
}

.work-experience{
  margin: 55px 0px 0px 0px;
}

.prof-title{
  color: #000000;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 10px 0px 15px 0px;
}

.prof-company{
  color: #ff7d26;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}

.prof-period{
  color: #a8a8a8;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  margin: 0px 0px 0px 0px;
}

.prof-period-separator{
  color: #000000;
}

.prof-duties{
  margin: 15px 0px 30px 17px;
}

.education{
  margin: 55px 0px 0px 0px;
}

.education-subtitle{
  color: #ff7d26;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin: 20px 0px 0px 0px;
}

.education-dept{
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin: 15px 0px 15px 0px;
}